@model List<TarefaModel>

<h2>Tarefas Concluídas</h2>

<p>
    <a asp-action="Index">Voltar para Lista de Tarefas</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Data de Início</th>
            <th>Data Final</th>
            <th>Concluído</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarefa in Model)
        {
            <tr>
                <td>@tarefa.Id</td>
                <td>@tarefa.Descrição</td>
                <td>@tarefa.Categoria.Nome</td>
                <td>@tarefa.DataInicio</td>
                <td>@tarefa.DataConclusao</td>
                <td>Sim</td> <!-- Indicando que a tarefa está concluída -->
                <td>
                    <a asp-action="Details" asp-route-id="@tarefa.Id">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
